<h1><%= @product.name %></h1>
<%# products_path is a helper %>
<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_project_path(@product) %> 
<%# "button_to" generates a form with a single button in it with the "Delete" text. 
When this button is clicked, it submits the form which makes a DELETE request to 
/products/:id which triggers the destroy action in our controller.
The turbo_confirm data attribute tells the Turbo JavaScript library to ask the user 
to confirm before submitting the form. %>
<%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?"} %>